@media only screen and (min-width: 320px) {
  .viewport {
    width: 100vw;
    height: 100vh;
  }
  .center {
    display: flex;
    height: calc(100% - 56px);
    align-items: center;
    justify-content: center;
  }
  .center-item {
    margin: 0 auto;
  }
  .margin{
    margin: 2rem auto;
  }
  .navbar{
    background: #FDD005;
  }
  .btn-mobile {
    padding: .60rem 1rem;
    margin: 0;
  }
  td .btn[class*=btn-outline-]{
    padding: .10rem .50rem;
    margin: 0;
    text-transform: capitalize;
  }
  .visit-name{
    cursor: pointer;
  }
  .photo-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .photo-visit{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }
}